In [ ]:
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 35.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=358a11921e9c1dd758c966b3c0a7d0bad705add82bee3d0817296f703a7115b6
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

import pyspark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Flight_ticket_prediction').getOrCreate()

In [ ]:
import pandas as pd

from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

import pyspark.sql.functions as f

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Test_set.xlsx to Test_set.xlsx
Saving Data_Train.xlsx to Data_Train.xlsx

In [ ]:
read_file = pd.read_excel ("Data_Train.xlsx") 

read_file.to_csv ("Data_Train.csv", index = None, header=True) 

train_df = spark.read.csv("Data_Train.csv", inferSchema = True, header = True)
train_df.show()

+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-----+
|          Airline|Date_of_Journey|  Source|Destination|               Route|Dep_Time|Arrival_Time|Duration|Total_Stops|     Additional_Info|Price|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-----+
|           IndiGo|     24/03/2019|Banglore|  New Delhi|           BLR → DEL|   22:20|01:10 22 Mar|  2h 50m|   non-stop|             No info| 3897|
|        Air India|      1/05/2019| Kolkata|   Banglore|CCU → IXR → BBI →...|   05:50|       13:15|  7h 25m|    2 stops|             No info| 7662|
|      Jet Airways|      9/06/2019|   Delhi|     Cochin|DEL → LKO → BOM →...|   09:25|04:25 10 Jun|     19h|    2 stops|             No info|13882|
|           IndiGo|     12/05/2019| Kolkata|   Banglore|     CCU → NAG → BLR|   18:05|       23:30|  5h 25m|     1 stop|             No info| 6218|
|           IndiGo|     01/03/2019|Banglore|  New Delhi|     BLR → NAG → DEL|   16:50|       21:35|  4h 45m|     1 stop|             No info|13302|
|         SpiceJet|     24/06/2019| Kolkata|   Banglore|           CCU → BLR|   09:00|       11:25|  2h 25m|   non-stop|             No info| 3873|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   18:55|10:25 13 Mar| 15h 30m|     1 stop|In-flight meal no...|11087|
|      Jet Airways|     01/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   08:00|05:05 02 Mar|  21h 5m|     1 stop|             No info|22270|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   08:55|10:25 13 Mar| 25h 30m|     1 stop|In-flight meal no...|11087|
|Multiple carriers|     27/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   11:25|       19:15|  7h 50m|     1 stop|             No info| 8625|
|        Air India|      1/06/2019|   Delhi|     Cochin|     DEL → BLR → COK|   09:45|       23:00| 13h 15m|     1 stop|             No info| 8907|
|           IndiGo|     18/04/2019| Kolkata|   Banglore|           CCU → BLR|   20:20|       22:55|  2h 35m|   non-stop|             No info| 4174|
|        Air India|     24/06/2019| Chennai|    Kolkata|           MAA → CCU|   11:40|       13:55|  2h 15m|   non-stop|             No info| 4667|
|      Jet Airways|      9/05/2019| Kolkata|   Banglore|     CCU → BOM → BLR|   21:10|09:20 10 May| 12h 10m|     1 stop|In-flight meal no...| 9663|
|           IndiGo|     24/04/2019| Kolkata|   Banglore|           CCU → BLR|   17:15|       19:50|  2h 35m|   non-stop|             No info| 4804|
|        Air India|      3/03/2019|   Delhi|     Cochin|DEL → AMD → BOM →...|   16:40|19:15 04 Mar| 26h 35m|    2 stops|             No info|14011|
|         SpiceJet|     15/04/2019|   Delhi|     Cochin|     DEL → PNQ → COK|   08:45|       13:15|  4h 30m|     1 stop|             No info| 5830|
|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   14:00|12:35 13 Jun| 22h 35m|     1 stop|In-flight meal no...|10262|
|        Air India|     12/06/2019|   Delhi|     Cochin|DEL → CCU → BOM →...|   20:15|19:15 13 Jun|     23h|    2 stops|             No info|13381|
|      Jet Airways|     27/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   16:00|12:35 28 May| 20h 35m|     1 stop|In-flight meal no...|12898|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-----+
only showing top 20 rows

In [ ]:
read_file = pd.read_excel ("Test_set.xlsx") 

read_file.to_csv ("Test_set.csv", index = None, header=True) 

test_df = spark.read.csv("Test_set.csv", inferSchema = True, header = True)
test_df.show()

+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
|          Airline|Date_of_Journey|  Source|Destination|               Route|Dep_Time|Arrival_Time|Duration|Total_Stops|     Additional_Info|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
|      Jet Airways|      6/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   17:30|04:25 07 Jun| 10h 55m|     1 stop|             No info|
|           IndiGo|     12/05/2019| Kolkata|   Banglore|     CCU → MAA → BLR|   06:20|       10:20|      4h|     1 stop|             No info|
|      Jet Airways|     21/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|19:00 22 May| 23h 45m|     1 stop|In-flight meal no...|
|Multiple carriers|     21/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   08:00|       21:00|     13h|     1 stop|             No info|
|         Air Asia|     24/06/2019|Banglore|      Delhi|           BLR → DEL|   23:55|02:45 25 Jun|  2h 50m|   non-stop|             No info|
|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   18:15|12:35 13 Jun| 18h 20m|     1 stop|In-flight meal no...|
|        Air India|     12/03/2019|Banglore|  New Delhi|     BLR → TRV → DEL|   07:30|       22:35|  15h 5m|     1 stop|             No info|
|           IndiGo|      1/05/2019| Kolkata|   Banglore|     CCU → HYD → BLR|   15:15|       20:30|  5h 15m|     1 stop|             No info|
|           IndiGo|     15/03/2019| Kolkata|   Banglore|           CCU → BLR|   10:10|       12:55|  2h 45m|   non-stop|             No info|
|      Jet Airways|     18/05/2019| Kolkata|   Banglore|     CCU → BOM → BLR|   16:30|       22:35|   6h 5m|     1 stop|             No info|
|      Jet Airways|     21/03/2019|   Delhi|     Cochin|DEL → MAA → BOM →...|   13:55|18:50 22 Mar| 28h 55m|    2 stops|In-flight meal no...|
|           IndiGo|     15/06/2019|   Delhi|     Cochin|     DEL → HYD → COK|   06:50|       16:10|  9h 20m|     1 stop|             No info|
|Multiple carriers|     15/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   09:00|       19:15| 10h 15m|     1 stop|             No info|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   05:45|       10:25|  4h 40m|     1 stop|             No info|
|      Jet Airways|      3/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|12:35 04 Jun| 17h 20m|     1 stop|In-flight meal no...|
|      Jet Airways|     06/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   21:25|08:15 07 Mar| 10h 50m|     1 stop|             No info|
|Multiple carriers|      6/06/2019|   Delhi|     Cochin|     DEL → HYD → COK|   13:15|       22:30|  9h 15m|     1 stop|             No info|
|          Vistara|     24/03/2019| Kolkata|   Banglore|     CCU → DEL → BLR|   09:55|       22:10| 12h 15m|     1 stop|             No info|
|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|04:25 13 Jun|  9h 10m|     1 stop|In-flight meal no...|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   22:55|08:15 13 Mar|  9h 20m|     1 stop|             No info|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
only showing top 20 rows

In [ ]:
train_df.printSchema()

root
 |-- Airline: string (nullable = true)
 |-- Date_of_Journey: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Dep_Time: string (nullable = true)
 |-- Arrival_Time: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Total_Stops: string (nullable = true)
 |-- Additional_Info: string (nullable = true)
 |-- Price: integer (nullable = true)

In [ ]:
test_df.printSchema()

root
 |-- Airline: string (nullable = true)
 |-- Date_of_Journey: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Dep_Time: string (nullable = true)
 |-- Arrival_Time: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Total_Stops: string (nullable = true)
 |-- Additional_Info: string (nullable = true)

In [ ]:
null_values = train_df.agg(*[f.count(f.when(f.isnull(col), col)).alias(col) for col in train_df.columns])
null_values.show()

+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+
|Airline|Date_of_Journey|Source|Destination|Route|Dep_Time|Arrival_Time|Duration|Total_Stops|Additional_Info|Price|
+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+
|      0|              0|     0|          0|    1|       0|           0|       0|          1|              0|    0|
+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+

In [ ]:
train_df = train_df.fillna({ 'Route':0, 'Total_Stops':0 })

In [ ]:
null_valuesfinal = train_df.agg(*[f.count(f.when(f.isnull(col), col)).alias(col) for col in train_df.columns])
null_valuesfinal.show()

+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+
|Airline|Date_of_Journey|Source|Destination|Route|Dep_Time|Arrival_Time|Duration|Total_Stops|Additional_Info|Price|
+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+
|      0|              0|     0|          0|    0|       0|           0|       0|          0|              0|    0|
+-------+---------------+------+-----------+-----+--------+------------+--------+-----------+---------------+-----+

In [ ]:
#null_values_test = test_df.agg(*[f.count(f.when(f.isnull(col), col)).alias(col) for col in test_df.columns])
#null_values_test.show()

In [ ]:
train_df.dtypes

[('Airline', 'string'),
 ('Date_of_Journey', 'string'),
 ('Source', 'string'),
 ('Destination', 'string'),
 ('Route', 'string'),
 ('Dep_Time', 'string'),
 ('Arrival_Time', 'string'),
 ('Duration', 'string'),
 ('Total_Stops', 'string'),
 ('Additional_Info', 'string'),
 ('Price', 'int')]

In [ ]:
categoricalColumns = [item[0] for item in train_df.dtypes if item[1].startswith('string')]
categoricalColumns

['Airline',
 'Date_of_Journey',
 'Source',
 'Destination',
 'Route',
 'Dep_Time',
 'Arrival_Time',
 'Duration',
 'Total_Stops',
 'Additional_Info']

In [ ]:
numericalColumns = [item[0] for item in train_df.dtypes if item[1].startswith('int')]
numericalColumns

['Price']

In [ ]:
stages = []
for cols in categoricalColumns:
  stringIndexer = StringIndexer(inputCol= cols, outputCol = cols + '_Index')
  encoder = OneHotEncoder(inputCols = [stringIndexer.getOutputCol()], outputCols= [cols + "OHE"])
  stages += [stringIndexer, encoder]

assembly = [c + "OHE" for c in categoricalColumns] + numericalColumns
assembler = VectorAssembler(inputCols = assembly, outputCol = "features")
stages += [assembler]

In [ ]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(train_df)
train_df = pipelineModel.transform(train_df)
selectedCols = ['Price', 'features'] + categoricalColumns
train_df = train_df.select(selectedCols)
train_df.printSchema()

root
 |-- Price: integer (nullable = true)
 |-- features: vector (nullable = true)
 |-- Airline: string (nullable = true)
 |-- Date_of_Journey: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Route: string (nullable = false)
 |-- Dep_Time: string (nullable = true)
 |-- Arrival_Time: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Total_Stops: string (nullable = false)
 |-- Additional_Info: string (nullable = true)

In [ ]:
categoricalColumns_test = [item[0] for item in test_df.dtypes if item[1].startswith('string')]
categoricalColumns_test

['Airline',
 'Date_of_Journey',
 'Source',
 'Destination',
 'Route',
 'Dep_Time',
 'Arrival_Time',
 'Duration',
 'Total_Stops',
 'Additional_Info']

In [ ]:
indexer_test = StringIndexer(inputCols= ['Airline',
                                        'Date_of_Journey',
                                        'Source',
                                        'Destination',
                                        'Route',
                                        'Dep_Time',
                                        'Arrival_Time',
                                        'Duration',
                                        'Total_Stops',
                                        'Additional_Info'], 
                        outputCols=['Airline_index',
                                    'Date_of_Journey_index',
                                    'Source_index',
                                    'Destination_index',
                                    'Route_index',
                                    'Dep_Time_index',
                                    'Arrival_Time_index',
                                    'Duration_index',
                                    'Total_Stops_index',
                                    'Additional_Info_index']) 

indexed = indexer_test.fit(test_df).transform(test_df) 
indexed.show()

+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
|          Airline|Date_of_Journey|  Source|Destination|               Route|Dep_Time|Arrival_Time|Duration|Total_Stops|     Additional_Info|Airline_index|Date_of_Journey_index|Source_index|Destination_index|Route_index|Dep_Time_index|Arrival_Time_index|Duration_index|Total_Stops_index|Additional_Info_index|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
|      Jet Airways|      6/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   17:30|04:25 07 Jun| 10h 55m|     1 stop|             No info|          0.0|                  3.0|         0.0|              0.0|        0.0|          48.0|              32.0|         167.0|              0.0|                  0.0|
|           IndiGo|     12/05/2019| Kolkata|   Banglore|     CCU → MAA → BLR|   06:20|       10:20|      4h|     1 stop|             No info|          1.0|                 18.0|         1.0|              1.0|       19.0|          69.0|             204.0|         222.0|              0.0|                  0.0|
|      Jet Airways|     21/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|19:00 22 May| 23h 45m|     1 stop|In-flight meal no...|          0.0|                  5.0|         0.0|              0.0|        0.0|          74.0|             137.0|         132.0|              0.0|                  1.0|
|Multiple carriers|     21/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   08:00|       21:00|     13h|     1 stop|             No info|          3.0|                  5.0|         0.0|              0.0|        0.0|           6.0|               1.0|          23.0|              0.0|                  0.0|
|         Air Asia|     24/06/2019|Banglore|      Delhi|           BLR → DEL|   23:55|02:45 25 Jun|  2h 50m|   non-stop|             No info|          6.0|                 12.0|         2.0|              2.0|        1.0|         139.0|             444.0|           0.0|              1.0|                  0.0|
|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   18:15|12:35 13 Jun| 18h 20m|     1 stop|In-flight meal no...|          0.0|                  1.0|         0.0|              0.0|        0.0|          52.0|             113.0|          54.0|              0.0|                  1.0|
|        Air India|     12/03/2019|Banglore|  New Delhi|     BLR → TRV → DEL|   07:30|       22:35|  15h 5m|     1 stop|             No info|          2.0|                 24.0|         2.0|              3.0|       64.0|          32.0|              12.0|         151.0|              0.0|                  0.0|
|           IndiGo|      1/05/2019| Kolkata|   Banglore|     CCU → HYD → BLR|   15:15|       20:30|  5h 15m|     1 stop|             No info|          1.0|                 21.0|         1.0|              1.0|       14.0|          10.0|              40.0|          11.0|              0.0|                  0.0|
|           IndiGo|     15/03/2019| Kolkata|   Banglore|           CCU → BLR|   10:10|       12:55|  2h 45m|   non-stop|             No info|          1.0|                 27.0|         1.0|              1.0|        3.0|         100.0|              23.0|           2.0|              1.0|                  0.0|
|      Jet Airways|     18/05/2019| Kolkata|   Banglore|     CCU → BOM → BLR|   16:30|       22:35|   6h 5m|     1 stop|             No info|          0.0|                  2.0|         1.0|              1.0|        2.0|          22.0|              12.0|          85.0|              0.0|                  0.0|
|      Jet Airways|     21/03/2019|   Delhi|     Cochin|DEL → MAA → BOM →...|   13:55|18:50 22 Mar| 28h 55m|    2 stops|In-flight meal no...|          0.0|                  9.0|         0.0|              0.0|       39.0|          65.0|              83.0|         295.0|              2.0|                  1.0|
|           IndiGo|     15/06/2019|   Delhi|     Cochin|     DEL → HYD → COK|   06:50|       16:10|  9h 20m|     1 stop|             No info|          1.0|                  7.0|         0.0|              0.0|        7.0|          38.0|               4.0|          16.0|              0.0|                  0.0|
|Multiple carriers|     15/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   09:00|       19:15| 10h 15m|     1 stop|             No info|          3.0|                  6.0|         0.0|              0.0|        0.0|           5.0|               2.0|          14.0|              0.0|                  0.0|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   05:45|       10:25|  4h 40m|     1 stop|             No info|          0.0|                 24.0|         2.0|              3.0|        6.0|          26.0|             547.0|         164.0|              0.0|                  0.0|
|      Jet Airways|      3/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|12:35 04 Jun| 17h 20m|     1 stop|In-flight meal no...|          0.0|                 10.0|         0.0|              0.0|        0.0|          74.0|              94.0|         243.0|              0.0|                  1.0|
|      Jet Airways|     06/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   21:25|08:15 07 Mar| 10h 50m|     1 stop|             No info|          0.0|                 28.0|         2.0|              3.0|        6.0|          27.0|             184.0|         119.0|              0.0|                  0.0|
|Multiple carriers|      6/06/2019|   Delhi|     Cochin|     DEL → HYD → COK|   13:15|       22:30|  9h 15m|     1 stop|             No info|          3.0|                  3.0|         0.0|              0.0|        7.0|          51.0|               8.0|          87.0|              0.0|                  0.0|
|          Vistara|     24/03/2019| Kolkata|   Banglore|     CCU → DEL → BLR|   09:55|       22:10| 12h 15m|     1 stop|             No info|          5.0|                 14.0|         1.0|              1.0|        5.0|         109.0|             167.0|          51.0|              0.0|                  0.0|
|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   19:15|04:25 13 Jun|  9h 10m|     1 stop|In-flight meal no...|          0.0|                  1.0|         0.0|              0.0|        0.0|          74.0|              45.0|         166.0|              0.0|                  1.0|
|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   22:55|08:15 13 Mar|  9h 20m|     1 stop|             No info|          0.0|                 24.0|         2.0|              3.0|        6.0|         104.0|             267.0|          16.0|              0.0|                  0.0|
+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
only showing top 20 rows

In [ ]:
new_test_df = indexed.drop(*['Airline',
                             'Date_of_Journey',
                              'Source',
                              'Destination',
                              'Route',
                              'Dep_Time',
                              'Arrival_Time',
                              'Duration',
                              'Total_Stops',
                              'Additional_Info'])

In [ ]:
new_test_df.show()

+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
|Airline_index|Date_of_Journey_index|Source_index|Destination_index|Route_index|Dep_Time_index|Arrival_Time_index|Duration_index|Total_Stops_index|Additional_Info_index|
+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
|          0.0|                  3.0|         0.0|              0.0|        0.0|          48.0|              32.0|         167.0|              0.0|                  0.0|
|          1.0|                 18.0|         1.0|              1.0|       19.0|          69.0|             204.0|         222.0|              0.0|                  0.0|
|          0.0|                  5.0|         0.0|              0.0|        0.0|          74.0|             137.0|         132.0|              0.0|                  1.0|
|          3.0|                  5.0|         0.0|              0.0|        0.0|           6.0|               1.0|          23.0|              0.0|                  0.0|
|          6.0|                 12.0|         2.0|              2.0|        1.0|         139.0|             444.0|           0.0|              1.0|                  0.0|
|          0.0|                  1.0|         0.0|              0.0|        0.0|          52.0|             113.0|          54.0|              0.0|                  1.0|
|          2.0|                 24.0|         2.0|              3.0|       64.0|          32.0|              12.0|         151.0|              0.0|                  0.0|
|          1.0|                 21.0|         1.0|              1.0|       14.0|          10.0|              40.0|          11.0|              0.0|                  0.0|
|          1.0|                 27.0|         1.0|              1.0|        3.0|         100.0|              23.0|           2.0|              1.0|                  0.0|
|          0.0|                  2.0|         1.0|              1.0|        2.0|          22.0|              12.0|          85.0|              0.0|                  0.0|
|          0.0|                  9.0|         0.0|              0.0|       39.0|          65.0|              83.0|         295.0|              2.0|                  1.0|
|          1.0|                  7.0|         0.0|              0.0|        7.0|          38.0|               4.0|          16.0|              0.0|                  0.0|
|          3.0|                  6.0|         0.0|              0.0|        0.0|           5.0|               2.0|          14.0|              0.0|                  0.0|
|          0.0|                 24.0|         2.0|              3.0|        6.0|          26.0|             547.0|         164.0|              0.0|                  0.0|
|          0.0|                 10.0|         0.0|              0.0|        0.0|          74.0|              94.0|         243.0|              0.0|                  1.0|
|          0.0|                 28.0|         2.0|              3.0|        6.0|          27.0|             184.0|         119.0|              0.0|                  0.0|
|          3.0|                  3.0|         0.0|              0.0|        7.0|          51.0|               8.0|          87.0|              0.0|                  0.0|
|          5.0|                 14.0|         1.0|              1.0|        5.0|         109.0|             167.0|          51.0|              0.0|                  0.0|
|          0.0|                  1.0|         0.0|              0.0|        0.0|          74.0|              45.0|         166.0|              0.0|                  1.0|
|          0.0|                 24.0|         2.0|              3.0|        6.0|         104.0|             267.0|          16.0|              0.0|                  0.0|
+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+
only showing top 20 rows

In [ ]:
assembler = VectorAssembler(
    inputCols=[x for x in new_test_df.columns],
    outputCol='features')

output_test_df = assembler.transform(new_test_df)
output_test_df.show()

+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+--------------------+
|Airline_index|Date_of_Journey_index|Source_index|Destination_index|Route_index|Dep_Time_index|Arrival_Time_index|Duration_index|Total_Stops_index|Additional_Info_index|            features|
+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+--------------------+
|          0.0|                  3.0|         0.0|              0.0|        0.0|          48.0|              32.0|         167.0|              0.0|                  0.0|(10,[1,5,6,7],[3....|
|          1.0|                 18.0|         1.0|              1.0|       19.0|          69.0|             204.0|         222.0|              0.0|                  0.0|[1.0,18.0,1.0,1.0...|
|          0.0|                  5.0|         0.0|              0.0|        0.0|          74.0|             137.0|         132.0|              0.0|                  1.0|(10,[1,5,6,7,9],[...|
|          3.0|                  5.0|         0.0|              0.0|        0.0|           6.0|               1.0|          23.0|              0.0|                  0.0|(10,[0,1,5,6,7],[...|
|          6.0|                 12.0|         2.0|              2.0|        1.0|         139.0|             444.0|           0.0|              1.0|                  0.0|[6.0,12.0,2.0,2.0...|
|          0.0|                  1.0|         0.0|              0.0|        0.0|          52.0|             113.0|          54.0|              0.0|                  1.0|(10,[1,5,6,7,9],[...|
|          2.0|                 24.0|         2.0|              3.0|       64.0|          32.0|              12.0|         151.0|              0.0|                  0.0|[2.0,24.0,2.0,3.0...|
|          1.0|                 21.0|         1.0|              1.0|       14.0|          10.0|              40.0|          11.0|              0.0|                  0.0|[1.0,21.0,1.0,1.0...|
|          1.0|                 27.0|         1.0|              1.0|        3.0|         100.0|              23.0|           2.0|              1.0|                  0.0|[1.0,27.0,1.0,1.0...|
|          0.0|                  2.0|         1.0|              1.0|        2.0|          22.0|              12.0|          85.0|              0.0|                  0.0|[0.0,2.0,1.0,1.0,...|
|          0.0|                  9.0|         0.0|              0.0|       39.0|          65.0|              83.0|         295.0|              2.0|                  1.0|[0.0,9.0,0.0,0.0,...|
|          1.0|                  7.0|         0.0|              0.0|        7.0|          38.0|               4.0|          16.0|              0.0|                  0.0|[1.0,7.0,0.0,0.0,...|
|          3.0|                  6.0|         0.0|              0.0|        0.0|           5.0|               2.0|          14.0|              0.0|                  0.0|(10,[0,1,5,6,7],[...|
|          0.0|                 24.0|         2.0|              3.0|        6.0|          26.0|             547.0|         164.0|              0.0|                  0.0|[0.0,24.0,2.0,3.0...|
|          0.0|                 10.0|         0.0|              0.0|        0.0|          74.0|              94.0|         243.0|              0.0|                  1.0|(10,[1,5,6,7,9],[...|
|          0.0|                 28.0|         2.0|              3.0|        6.0|          27.0|             184.0|         119.0|              0.0|                  0.0|[0.0,28.0,2.0,3.0...|
|          3.0|                  3.0|         0.0|              0.0|        7.0|          51.0|               8.0|          87.0|              0.0|                  0.0|[3.0,3.0,0.0,0.0,...|
|          5.0|                 14.0|         1.0|              1.0|        5.0|         109.0|             167.0|          51.0|              0.0|                  0.0|[5.0,14.0,1.0,1.0...|
|          0.0|                  1.0|         0.0|              0.0|        0.0|          74.0|              45.0|         166.0|              0.0|                  1.0|(10,[1,5,6,7,9],[...|
|          0.0|                 24.0|         2.0|              3.0|        6.0|         104.0|             267.0|          16.0|              0.0|                  0.0|[0.0,24.0,2.0,3.0...|
+-------------+---------------------+------------+-----------------+-----------+--------------+------------------+--------------+-----------------+---------------------+--------------------+
only showing top 20 rows

In [ ]:
finalized_test_data = output_test_df.select('features')
finalized_test_data.show()

+--------------------+
|            features|
+--------------------+
|(10,[1,5,6,7],[3....|
|[1.0,18.0,1.0,1.0...|
|(10,[1,5,6,7,9],[...|
|(10,[0,1,5,6,7],[...|
|[6.0,12.0,2.0,2.0...|
|(10,[1,5,6,7,9],[...|
|[2.0,24.0,2.0,3.0...|
|[1.0,21.0,1.0,1.0...|
|[1.0,27.0,1.0,1.0...|
|[0.0,2.0,1.0,1.0,...|
|[0.0,9.0,0.0,0.0,...|
|[1.0,7.0,0.0,0.0,...|
|(10,[0,1,5,6,7],[...|
|[0.0,24.0,2.0,3.0...|
|(10,[1,5,6,7,9],[...|
|[0.0,28.0,2.0,3.0...|
|[3.0,3.0,0.0,0.0,...|
|[5.0,14.0,1.0,1.0...|
|(10,[1,5,6,7,9],[...|
|[0.0,24.0,2.0,3.0...|
+--------------------+
only showing top 20 rows

In [ ]:
train_df.show()

+-----+--------------------+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
|Price|            features|          Airline|Date_of_Journey|  Source|Destination|               Route|Dep_Time|Arrival_Time|Duration|Total_Stops|     Additional_Info|
+-----+--------------------+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
| 3897|(2136,[1,25,56,61...|           IndiGo|     24/03/2019|Banglore|  New Delhi|           BLR → DEL|   22:20|01:10 22 Mar|  2h 50m|   non-stop|             No info|
| 7662|(2136,[2,30,55,59...|        Air India|      1/05/2019| Kolkata|   Banglore|CCU → IXR → BBI →...|   05:50|       13:15|  7h 25m|    2 stops|             No info|
|13882|(2136,[0,14,54,58...|      Jet Airways|      9/06/2019|   Delhi|     Cochin|DEL → LKO → BOM →...|   09:25|04:25 10 Jun|     19h|    2 stops|             No info|
| 6218|(2136,[1,31,55,59...|           IndiGo|     12/05/2019| Kolkata|   Banglore|     CCU → NAG → BLR|   18:05|       23:30|  5h 25m|     1 stop|             No info|
|13302|(2136,[1,37,56,61...|           IndiGo|     01/03/2019|Banglore|  New Delhi|     BLR → NAG → DEL|   16:50|       21:35|  4h 45m|     1 stop|             No info|
| 3873|(2136,[4,21,55,59...|         SpiceJet|     24/06/2019| Kolkata|   Banglore|           CCU → BLR|   09:00|       11:25|  2h 25m|   non-stop|             No info|
|11087|(2136,[0,38,56,61...|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   18:55|10:25 13 Mar| 15h 30m|     1 stop|In-flight meal no...|
|22270|(2136,[0,37,56,61...|      Jet Airways|     01/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   08:00|05:05 02 Mar|  21h 5m|     1 stop|             No info|
|11087|(2136,[0,38,56,61...|      Jet Airways|     12/03/2019|Banglore|  New Delhi|     BLR → BOM → DEL|   08:55|10:25 13 Mar| 25h 30m|     1 stop|In-flight meal no...|
| 8625|(2136,[3,19,54,58...|Multiple carriers|     27/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   11:25|       19:15|  7h 50m|     1 stop|             No info|
| 8907|(2136,[2,22,54,58...|        Air India|      1/06/2019|   Delhi|     Cochin|     DEL → BLR → COK|   09:45|       23:00| 13h 15m|     1 stop|             No info|
| 4174|(2136,[1,52,55,59...|           IndiGo|     18/04/2019| Kolkata|   Banglore|           CCU → BLR|   20:20|       22:55|  2h 35m|   non-stop|             No info|
| 4667|(2136,[2,21,70,20...|        Air India|     24/06/2019| Chennai|    Kolkata|           MAA → CCU|   11:40|       13:55|  2h 15m|   non-stop|             No info|
| 9663|(2136,[0,16,55,59...|      Jet Airways|      9/05/2019| Kolkata|   Banglore|     CCU → BOM → BLR|   21:10|09:20 10 May| 12h 10m|     1 stop|In-flight meal no...|
| 4804|(2136,[1,48,55,59...|           IndiGo|     24/04/2019| Kolkata|   Banglore|           CCU → BLR|   17:15|       19:50|  2h 35m|   non-stop|             No info|
|14011|(2136,[2,33,54,58...|        Air India|      3/03/2019|   Delhi|     Cochin|DEL → AMD → BOM →...|   16:40|19:15 04 Mar| 26h 35m|    2 stops|             No info|
| 5830|(2136,[4,50,54,58...|         SpiceJet|     15/04/2019|   Delhi|     Cochin|     DEL → PNQ → COK|   08:45|       13:15|  4h 30m|     1 stop|             No info|
|10262|(2136,[0,15,54,58...|      Jet Airways|     12/06/2019|   Delhi|     Cochin|     DEL → BOM → COK|   14:00|12:35 13 Jun| 22h 35m|     1 stop|In-flight meal no...|
|13381|(2136,[2,15,54,58...|        Air India|     12/06/2019|   Delhi|     Cochin|DEL → CCU → BOM →...|   20:15|19:15 13 Jun|     23h|    2 stops|             No info|
|12898|(2136,[0,19,54,58...|      Jet Airways|     27/05/2019|   Delhi|     Cochin|     DEL → BOM → COK|   16:00|12:35 28 May| 20h 35m|     1 stop|In-flight meal no...|
+-----+--------------------+-----------------+---------------+--------+-----------+--------------------+--------+------------+--------+-----------+--------------------+
only showing top 20 rows

In [ ]:
finalized_train_df = train_df.select("features", "Price")
finalized_train_df.show()

+--------------------+-----+
|            features|Price|
+--------------------+-----+
|(2136,[1,25,56,61...| 3897|
|(2136,[2,30,55,59...| 7662|
|(2136,[0,14,54,58...|13882|
|(2136,[1,31,55,59...| 6218|
|(2136,[1,37,56,61...|13302|
|(2136,[4,21,55,59...| 3873|
|(2136,[0,38,56,61...|11087|
|(2136,[0,37,56,61...|22270|
|(2136,[0,38,56,61...|11087|
|(2136,[3,19,54,58...| 8625|
|(2136,[2,22,54,58...| 8907|
|(2136,[1,52,55,59...| 4174|
|(2136,[2,21,70,20...| 4667|
|(2136,[0,16,55,59...| 9663|
|(2136,[1,48,55,59...| 4804|
|(2136,[2,33,54,58...|14011|
|(2136,[4,50,54,58...| 5830|
|(2136,[0,15,54,58...|10262|
|(2136,[2,15,54,58...|13381|
|(2136,[0,19,54,58...|12898|
+--------------------+-----+
only showing top 20 rows

In [ ]:
training_data, testing_data = finalized_train_df.randomSplit([0.7,0.3], seed = 2018)
print("Training Dataset Count: " + str(training_data.count()))
print("Testing Dataset Count: " + str(testing_data.count()))

Training Dataset Count: 7526
Testing Dataset Count: 3157

In [ ]:
from pyspark.ml.regression import RandomForestRegressor

rfr = RandomForestRegressor(labelCol="Price", featuresCol="features")
rfrModel = rfr.fit(training_data)
predictions = rfrModel.transform(testing_data)
predictions.select("features", "Price", "prediction").show()

+--------------------+-----+------------------+
|            features|Price|        prediction|
+--------------------+-----+------------------+
|(2136,[0,11,54,58...|15554|14145.009940815882|
|(2136,[0,11,54,58...|15554|14145.009940815882|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|15554|14145.009940815882|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|12373|12163.860781511003|
|(2136,[0,11,54,58...|13029|12457.514310128621|
|(2136,[0,11,54,58...|15129| 14218.73821841483|
|(2136,[0,11,54,58...|15129| 14218.73821841483|
|(2136,[0,11,54,58...|15129| 14218.73821841483|
|(2136,[0,11,54,58...|10368|11106.548180186777|
+--------------------+-----+------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator(labelCol="Price", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 1198.14

In [ ]:
from pyspark.ml.regression import GBTRegressor

gbt = GBTRegressor(featuresCol="features",labelCol="Price", maxIter=10)
gbtModel = gbt.fit(training_data)
predictions_gbt = gbtModel.transform(testing_data)

predictions_gbt.select("features", "Price", "prediction").show()

+--------------------+-----+------------------+
|            features|Price|        prediction|
+--------------------+-----+------------------+
|(2136,[0,11,54,58...|15554|15860.540874969634|
|(2136,[0,11,54,58...|15554|15860.540874969634|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|15554|15860.540874969634|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|12373|12136.887067455067|
|(2136,[0,11,54,58...|13029|12851.156908724908|
|(2136,[0,11,54,58...|15129|14734.428095165586|
|(2136,[0,11,54,58...|15129|14734.428095165586|
|(2136,[0,11,54,58...|15129|14734.428095165586|
|(2136,[0,11,54,58...|10368|10746.414904460516|
+--------------------+-----+------------------+
only showing top 20 rows

In [ ]:
evaluator = RegressionEvaluator(labelCol="Price", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions_gbt)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

Root Mean Squared Error (RMSE) on test data = 893.155

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(labelCol="Price", rawPredictionCol='prediction')
print("Test_SET (Area Under ROC): " + str(evaluator.evaluate(predictions_gbt, {evaluator.metricName: "areaUnderROC"})))

Test_SET (Area Under ROC): 1.0

In [ ]:
evaluator = RegressionEvaluator(predictionCol="prediction", labelCol="Price",metricName="r2")
print("R Squared (R2) on test data = %g" % evaluator.evaluate(predictions_gbt))

R Squared (R2) on test data = 0.962221